.b-toast {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -100px; /* Cambia la posición inicial para que esté fuera de la pantalla */
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 20px;
  font-family: Rokkitt-Medium;
  text-transform: uppercase;
  font-size: 18px;
  background-color: var(--color-active);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.b-toast.visible {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
  bottom: 10px; /* Añade la posición final */
}

@keyframes slideUp {
  0% {
    transform: translateX(-50%) translateY(100%);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}

.slide-up-enter {
  animation: slideUp 0.3s ease forwards;
}

.slide-up-exit {
  animation: slideUp 0.3s ease reverse forwards;
}
.toast-icon {
  margin-right: 10px;
}