.b-post{
    width: 400px;
    color: var(--color-medium);
    background-color: var(--color);
    border-radius: 10px;
    &__title{
        display: flex;
        min-height: 20px;
        font-size: 16px;
        font-family: Rokkitt-Light;
        color: var(--color);
        background-color: var(--color-active);
        border-radius: 10px 10px 0 0;
        & h3{
            margin: 10px;
        }
    }
    &__body{
        margin: 20px 10px;
        font-size: 16px;
        font-family: Rokkitt-Regular;
        color: var(--color-medium);
    }
    &__image{
        width: 100%;
        max-height: 300px;
        object-fit: contain;
    }
    &__date{
        display: flex;
        justify-content: end;
        margin-right: 10px;
        min-height: 20px;
        font-size: 15px;
        font-family: Rokkitt-Regular;
        color: var(--color-active);
    }
    &__user{
        position: relative;
        margin-bottom: 50px;
    }
}
.b-post-user-info{
    position: absolute;
    display: flex;
    align-items: center;
    top: -25px;
    left: 20px;
    gap: 20px;
    &__avatar{
        border-radius: 100%;     
        height: 80px;
        width: 80px;
    }
    &__name{
        font-size: 14px;
        font-family: Rokkitt-Light;
    }
}
@media only screen and (max-width: 600px) {
    .b-post{
        width: 350px;
        &__image{
            max-height: 300px;
            object-fit: contain;
        }
    }
}