.b-post-user-info{
    position: absolute;
    display: flex;
    align-items: center;
    top: -25px;
    left: 20px;
    &__avatar{
        border-radius: 100%;
        background-color: var(--color-active);
        height: 80px;
        width: 80px;
        margin-right: 10px;
    }
    &__name{
        font-size: 14px;
        font-family: Rokkitt-Light;
    }
}